<main class="content">
  <app-card>
    <ng-template #header><h1>Gestão de bens</h1></ng-template>

    <ng-template #body>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non 
        accumsan nisi. Vestibulum ante ipsum primis in faucibus orci luctus 
        et ultrices posuere cubilia curae; Aenean lectus nunc, vulputate non 
        sem at, imperdiet facilisis massa. Suspendisse potenti. Phasellus 
        viverra purus id blandit gravida.</p>
    </ng-template>
  </app-card>
</main>