<app-modal title="Detalhes" closeBtnText="Cancelar" size="md">
  <div body class="px-3 pt-3">
    <dl class="row justify-content-between">
      <dt class="col-sm-5">Marca</dt>
      <dd class="col-sm-3">{{ marca.marca }}</dd>
    </dl>

    <dl class="row justify-content-between">
      <dt class="col-sm-5">Estado</dt>
      <div class="d-flex justify-content-between px-4 pt-1">
        <dd>{{ estado.estado_bem }}</dd>
        <dd><p class="text-align-end">{{ estado.descricao }}</p></dd>
      </div>
    </dl>

    <dl class="row">
      <dt class="col-sm-5">Situação de uso</dt>
      <div class="d-flex justify-content-between px-4 pt-1">
        <dd>{{ situacao.situacao_uso_bem }}</dd>
        <dd><p class="text-align-end">{{ situacao.descricao }}</p></dd>
      </div>
    </dl>
  </div>
</app-modal>
