<div #dialog class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="itensModalLabel">
        {{title}}
      </h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>

    <div class="modal-body">
      <ng-content select="[body]"></ng-content>
    </div>

    <div class="modal-footer">
      <ng-content select="[footer-before]"></ng-content>

      <button #closeBtn type="button" class="btn btn-primary"
        data-bs-dismiss="modal" (click)="onClose()">Fechar</button>

      <ng-content select="[footer-after]"></ng-content>
    </div>
  </div>
</div>
