@use "../node_modules/bootstrap/scss/bootstrap";
@use "../node_modules/bootstrap-icons/font/bootstrap-icons";

$bg-body: #7D7C7A;
$bg-header:  #12082D;

body {
    background-color: $bg-body;
}

.bg-light-blue {
    background-color: #363E60;
}

.bg-light-gray {
    background-color: #c0c0c0;
}

.fiscal-items {
    border: 1px solid rgba(0,0,0,.125);
    margin: 5px;
    max-height: 200px;
    overflow-y: scroll;
}

.table-title {
    font-size: 1.25rem;
    font-weight: 600;
}


.card-header {
    font-size: 1.3rem;
}
